.divide_section{
    display: flex;
}
.filter_section{
    flex-basis: 25%;
    position: relative;
    font-size: 2vw;
}
.filter_occasion,.filter_colors,.filter_arrivals{
    margin-top: 4vw;
    margin-bottom: 10px;
}
.vertical_line{
    border: none;
    border-left:3px solid black ;
    height: 100%;
    position: absolute;
    margin:  0 10px;
    top: 0;
    right: 0;
}

.product_section{
    flex-basis: 75%;
    padding: 10px;
}
.products{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-top: 2vw;
    font-size: 1vw;
    text-align: center;
    justify-content: space-between;
}
.product img{
    width: 20vw;
}
