.divisions{
   
    padding: 15px;

}
.occasion{
    margin: 5px;
    padding: 70px;
    
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    flex-grow: 3;
     
   padding: 30px;
}
.products{
    display: flex;
    flex-wrap: wrap;
}
.search{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }

 .searchbar input{
     width:100%;
     font-size: 16px;
     margin-left: 10px;
     border: none;
     background-color:#eeab5300 ;
     outline: none;
 }
 @media screen and (max-width:600px) 
 {
    .collections{
        display: flex;
        flex-direction: column;

    }
    .occasion{
        padding: 2px;
        text-align: center;
        font-size: 10px;
    }
    .searchbar{
        display: flex;
        justify-content: space-between;
        width: 50%;
        padding: 10px;
        background-color: aquamarine;
        margin: 15px;
    }
    
 }