.most-wanted {

    padding: 0rem 2rem 0rem 1rem;

}



.most-wanted_deck {

    margin: 10px 0rem 0rem 0rem;
    
}

.mostwanted_image_container {
    display: flex;
    padding: 1rem 0rem 0rem 0rem;
    overflow-x: auto;
    gap: 51px;
    cursor: pointer;

}

.mostwanted_image_container::-webkit-scrollbar {
    display: none;
}

.mostwanted_img {
    width: 290px;
   
    position: relative;


}
.sale{
    position: absolute;
    top: 4px;
    left: 16px;
    background-color: red;
    color: white;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    height: 20px;
}

.mostwanted_image_1 {

    width: 290px;
    border-radius: 10px
}

.mostwanted_image_1:hover {
    opacity: 0.8;
}







.fav_btn {
   
    width: 25px;
    padding: 8px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    right: -12px;
    border-radius: 26px;
}


@media screen and (min-width:750px) {

    .most-wanted {

        padding: 2rem 4rem 0rem 3rem
    }

}